.section-title-common {

 font-size: 44px;
  background: -webkit-linear-gradient(rgba(237, 32, 36, 1), rgba(46, 80, 160, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  